.battlemap {
    background-color: antiquewhite;
    border-collapse: collapse;
    outline: none;
    /* padding: .15em; */
    /* margin: 0 .75em; */
}

td {
    background-color: burlywood;
    margin: .5em;
    border: solid antiquewhite;
    box-sizing: border-box;
}
td:hover {
    background-color: bisque;
}

td.is-local-ent .cell {
    cursor: pointer;
    background-color: saddlebrown;
    width: 100%;
    height: 100%;
}
td.is-local-ent .cell:hover {
    background-color: rgb(122, 58, 13);
}
td.is-local-ent .cell:active {
    background-color: rgb(95, 44, 8);
}

td.is-ghost-ent {
    cursor: pointer;
}