.card {
    /* width: 95%;
    margin-right: 2em;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
    overflow-y: auto;
}

.card .card-content .field-label {
    flex-grow: 0;
    margin: 0 1em;
}

.card h1, .card p, .card label {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}